.containe{
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}


.productbox{
  width: 25%;
  padding: 15px;
  margin-bottom: 4px;
  box-shadow: 1px 1px 1px;
  transition: all 1s ease-out;
}

.productbox:hover {
  -webkit-transform: scale(0.7);
 transform: scale(0.7);
}

a{
  display: block;
}

.link{
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: black;
}

.space{
  width: 10%;
  text-align: center;
  border-top: 1px solid black;
  padding: 0 0 8px;
}

img{
  width: 100%;
  max-height: 280px;
  min-height: 280px;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

