li {
  list-style: none;
  width: 30%;
}

.change-height {
  margin-top: 15px;
}

* {
  box-sizing: border-box;
  list-style: none;
}

body {
  padding: 5px;
  background-color: #7a34ca
}

p {
  margin: 0%
}

.container {
  max-width: 900px;
  margin: 20px auto;
  overflow: hidden;
  background-color: #f8f9fa
}

.appears-item {
  opacity: 0;
}

ul:hover .appears-item {
  opacity: 1;
}
